In [60]:
# Reading csv file for pca data
import pandas as pd
data = pd.read_csv("/Users/mthipparthi/PycharmProjects/janaganana/data/pca_data.csv")

In [61]:
# Plucking out only "Tural" and "Urban" data as "Total" can be calculated
data = data[(data.TRU == "Rural") | (data.TRU == "Urban")]

In [62]:
columns_you_want = ['State','District','Level','Name','TRU', 'TOT_M', 'TOT_F'] 
df=data[columns_you_want]
df.head(5)

   State  District     Level             Name    TRU    TOT_M    TOT_F
1      1         0     STATE  JAMMU & KASHMIR  Rural  4774477  4333583
2      1         0     STATE  JAMMU & KASHMIR  Urban  1866185  1567057
4      1         1  DISTRICT          Kupwara  Rural   412038   353587
5      1         1  DISTRICT          Kupwara  Urban    62152    42577
7      1         2  DISTRICT           Badgam  Rural   343385   312448

In [64]:
#  Only taking out Male total and adding Male column to it
columns_male = ['State','District','Level','Name','TRU', 'TOT_M'] 
df_m=df[columns_male]
df_m['sex'] = 'Male'
df_m.rename(columns={'TOT_M':'Total'}, inplace=True)
df_m.head(5)

   State  District     Level             Name    TRU    Total   sex
1      1         0     STATE  JAMMU & KASHMIR  Rural  4774477  Male
2      1         0     STATE  JAMMU & KASHMIR  Urban  1866185  Male
4      1         1  DISTRICT          Kupwara  Rural   412038  Male
5      1         1  DISTRICT          Kupwara  Urban    62152  Male
7      1         2  DISTRICT           Badgam  Rural   343385  Male

In [81]:
#  Only taking out Female total and adding Male column to it
columns_female = ['State','District','Level','Name','TRU', 'TOT_F'] 
df_f=df[columns_female]
df_f['sex'] = 'Female'
df_f.rename(columns={'TOT_F':'Total'}, inplace=True)
df_f.head(5)

   State  District     Level             Name    TRU    Total     sex
1      1         0     STATE  JAMMU & KASHMIR  Rural  4333583  Female
2      1         0     STATE  JAMMU & KASHMIR  Urban  1567057  Female
4      1         1  DISTRICT          Kupwara  Rural   353587  Female
5      1         1  DISTRICT          Kupwara  Urban    42577  Female
7      1         2  DISTRICT           Badgam  Rural   312448  Female

In [83]:
result = pd.concat([data4, data5])
jk_df = result[result.Name=="JAMMU & KASHMIR"]
jk_df.head(10)

   State  District  Level             Name    TRU    Total     sex
1      1         0  STATE  JAMMU & KASHMIR  Rural  4774477    Male
2      1         0  STATE  JAMMU & KASHMIR  Urban  1866185    Male
1      1         0  STATE  JAMMU & KASHMIR  Rural  4333583  Female
2      1         0  STATE  JAMMU & KASHMIR  Urban  1567057  Female

In [84]:
#cleaning the data to suit intenal tables
result['Level']=result['Level'].str.lower()
#  copying the district code to code if district else if state state code
result['geo_code']=0

def func(ds):
    if ds.District == 0:
        ds.geo_code = ds.State
    else:
        ds.geo_code= ds.District
    return ds

result=result.apply(func, axis=1)


result = result[['geo_code', 'Level' , 'TRU', 'sex' , 'Total']]
# Changing column names
result.columns = ['geo_code', 'geo_level', 'area', 'sex', 'total']

jk_df = result[ (result.geo_code==1) & (result.geo_level=='state')]
jk_df.head(10)

   geo_code geo_level   area     sex    total
1         1     state  Rural    Male  4774477
2         1     state  Urban    Male  1866185
1         1     state  Rural  Female  4333583
2         1     state  Urban  Female  1567057

In [88]:
op_fn = '/Users/mthipparthi/PycharmProjects/janaganana/data/cleaned_data/pcv_data_area_sex.csv'
result.to_csv(op_fn, index=False)

len(result)
len(df_f)

1350

In [48]:
# data4 and data5
# result=pd.merge(data4, data5, on=['State','District','Level','Name', 'TRU'])
# # result.head()
# # result = pd.concat([data4, data5], keys=['Level','Name', 'TRU', 'sex'])
# # # 
# # opf = "/Users/mthipparthi/PycharmProjects/janaganana/sql/india/pcv_data_clean.csv"
# # file = open(opf, 'w+')
# # result.to_csv(file)
# # rl=result[result.Name=='JAMMU & KASHMIR']
# # rl2 = rl[['State','District', 'Level', 'Name', 'TRU', 'Total', 'sex']]
# # l2


# # 
# opf = '/Users/mthipparthi/PycharmProjects/janaganana/data/pcv_data_clean_temp.csv'
# file = open(opf, 'w+')
# result.to_csv(file)

# df = pd.read_csv(opf)
# df=df[['State','District', 'Level', 'Name', 'TRU', 'Total', 'sex']]

# #  ignoring the column row(name row)
# # df = df[1:]
# #  upper case to lower case
# df['Level']=df['Level'].str.lower()

# #  copying the district code to code if district else if state state code
# df['code']=0
# def func(df):
#     if df.District == 0:
#         df.code = df.State
#     else:
#         df.code= df.District
#     return df

# df=df.apply(func, axis=1)

# df = df[['code', 'Level' , 'TRU', 'sex' , 'Total']]
# # Changing column names
# df.columns = ['geo_code', 'geo_level', 'area', 'sex', 'total']

# # df.apply(func, axis=1)  
# opf2 = '/Users/mthipparthi/PycharmProjects/janaganana/data/cleaned_data/pcv_data_area_sex.csv'
# file = open(opf2, 'w+')
# df.to_csv(file, index=False)
# abc = df[df.geo_code==1]
# abc.head(5)

      geo_code geo_level   area     sex    total
0            1     state  Rural    Male  4774477
1            1     state  Urban    Male  1866185
2            1  district  Rural    Male   412038
3            1  district  Urban    Male    62152
1350         1     state  Rural  Female  4333583

In [ ]:
df