In [110]:
file_path="/Users/mthipparthi/PycharmProjects/janaganana-data/data/religion_pca_semi_cleaned.csv"

# Reading csv file for pca data
import pandas as pd
df = pd.read_csv(file_path)

In [111]:
df.head(5)

,Unnamed: 0,State,District,Subdistt,Town/Village,TRU,Name,Religion,TOT_P,TOT_M,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,0,0,0,0,0,Total,india,Total,1210854977,623270258,...,5820403,1420348,491424,928924,5518450,3082613,2435837,728966109,291330383,437635726
1,1,0,0,0,0,Total,india,Hindu,966257353,498306968,...,4990261,1052248,374549,677699,4263250,2346372,1916878,569672513,229685436,339987077
2,2,0,0,0,0,Total,india,Muslim,172245158,88273945,...,503064,300836,94229,206607,874274,542091,332183,116139359,44572059,71567300
3,3,0,0,0,0,Total,india,Christian,27819588,13751031,...,94337,26977,9353,17624,179935,88097,91838,16161075,6476300,9684775
4,4,0,0,0,0,Total,india,Sikh,20833116,10948431,...,59022,15417,5551,9866,89382,47003,42379,13265927,4880013,8385914

In [112]:
# Plucking out only "Rural" and "Urban" data as "Total" can be calculated
df = df[(df.TRU == "Rural") | (df.TRU == "Urban")]

In [113]:
df.head(5)

,Unnamed: 0,State,District,Subdistt,Town/Village,TRU,Name,Religion,TOT_P,TOT_M,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
9,9,0,0,0,0,Rural,india,Total,833748852,427781058,...,5640822,1154975,386077,768898,3803400,1972348,1831052,485005760,200944045,284061715
10,10,0,0,0,0,Rural,india,Hindu,684093951,351423647,...,4842221,880266,304822,575444,3004803,1545017,1459786,389664122,162970261,226693861
11,11,0,0,0,0,Rural,india,Muslim,103504739,52870001,...,482261,220688,63611,157077,533657,300874,232783,68938761,27140311,41798450
12,12,0,0,0,0,Rural,india,Christian,16657065,8295745,...,89403,20460,7030,13430,116605,53786,62819,9257842,3892377,5365465
13,13,0,0,0,0,Rural,india,Sikh,14930792,7839048,...,57311,13066,4471,8595,72271,35151,37120,9427224,3467217,5960007

In [114]:
interested_columns=['State', 'District', 'TRU', 'Name', 'Religion', 'TOT_M', 'TOT_F']

df=df[interested_columns]

In [115]:
df.tail(10)

,State,District,TRU,Name,Religion,TOT_M,TOT_F
19187,35,640,Rural,district - south andaman,Religion not stated,152,177
19188,35,640,Urban,district - south andaman,Total,75180,65567
19189,35,640,Urban,district - south andaman,Hindu,56591,48405
19190,35,640,Urban,district - south andaman,Muslim,9304,7951
19191,35,640,Urban,district - south andaman,Christian,8780,8759
19192,35,640,Urban,district - south andaman,Sikh,343,294
19193,35,640,Urban,district - south andaman,Buddhist,35,36
19194,35,640,Urban,district - south andaman,Jain,6,11
19195,35,640,Urban,district - south andaman,Other religions and persuasions,64,53
19196,35,640,Urban,district - south andaman,Religion not stated,57,58

In [116]:
es= df.iloc[9]
es

State               0
District            0
TRU             Urban
Name            india
Religion        Total
TOT_M       195489200
TOT_F       181616925
Name: 18, dtype: object

In [117]:
def func(ds):
    if ds.Name.startswith('district') == 0:
        ds['geo_code'] = ds.State
    else:
        ds['geo_code'] = ds.District
        
    if ds.Name == 'india':
        ds['geo_level'] = 'country'
        ds['geo_code'] = 'IN'
    elif ds.Name.startswith('district'):
        ds['geo_level'] = 'district'
    elif ds.Name.startswith('state'):
        ds['geo_level'] = 'state'   
    return ds

df=df.apply(func, axis=1)

In [118]:
df.head(5)

,State,District,TRU,Name,Religion,TOT_M,TOT_F,geo_code,geo_level
9,0,0,Rural,india,Total,427781058,405967794,IN,country
10,0,0,Rural,india,Hindu,351423647,332670304,IN,country
11,0,0,Rural,india,Muslim,52870001,50634738,IN,country
12,0,0,Rural,india,Christian,8295745,8361320,IN,country
13,0,0,Rural,india,Sikh,7839048,7091744,IN,country

In [119]:
df.columns

Index(['State', 'District', 'TRU', 'Name', 'Religion', 'TOT_M', 'TOT_F',
       'geo_code', 'geo_level'],
      dtype='object')

In [120]:
in_columns=['geo_code', 'geo_level', 'Religion', 'TRU', 'TOT_M', 'TOT_F']
df=df[in_columns]

In [121]:
df.head(5)

   geo_code geo_level   Religion    TRU      TOT_M      TOT_F
9        IN   country      Total  Rural  427781058  405967794
10       IN   country      Hindu  Rural  351423647  332670304
11       IN   country     Muslim  Rural   52870001   50634738
12       IN   country  Christian  Rural    8295745    8361320
13       IN   country       Sikh  Rural    7839048    7091744

In [122]:
f_columns=['geo_code', 'geo_level', 'Religion','TRU','TOT_F']
df_f = df[f_columns]
df_f['Sex']='Female'
# df_f.columns = ['geo_code', 'geo_level', 'Religion', 'total']
df_f.rename(columns={'TOT_F':'Total'}, inplace=True)
df_f.head(5)

   geo_code geo_level   Religion    TRU      Total     Sex
9        IN   country      Total  Rural  405967794  Female
10       IN   country      Hindu  Rural  332670304  Female
11       IN   country     Muslim  Rural   50634738  Female
12       IN   country  Christian  Rural    8361320  Female
13       IN   country       Sikh  Rural    7091744  Female

In [123]:
m_columns=['geo_code', 'geo_level', 'Religion','TRU', 'TOT_M']
df_m = df[m_columns]
df_m['Sex']='Male'
# df_f.columns = ['geo_code', 'geo_level', 'Religion', 'total']
df_m.rename(columns={'TOT_M':'Total'}, inplace=True)
df_m.head(5)

   geo_code geo_level   Religion    TRU      Total   Sex
9        IN   country      Total  Rural  427781058  Male
10       IN   country      Hindu  Rural  351423647  Male
11       IN   country     Muslim  Rural   52870001  Male
12       IN   country  Christian  Rural    8295745  Male
13       IN   country       Sikh  Rural    7839048  Male

In [124]:
result = pd.concat([df_m, df_f])
result.head(5)

   geo_code geo_level   Religion    TRU      Total   Sex
9        IN   country      Total  Rural  427781058  Male
10       IN   country      Hindu  Rural  351423647  Male
11       IN   country     Muslim  Rural   52870001  Male
12       IN   country  Christian  Rural    8295745  Male
13       IN   country       Sikh  Rural    7839048  Male

In [125]:
result.columns

Index(['geo_code', 'geo_level', 'Religion', 'TRU', 'Total', 'Sex'], dtype='object')

In [126]:
cls= ['geo_code', 'geo_level', 'Religion', 'TRU', 'Sex', 'Total']
rl=result[cls]
rl.head(5)
r2=rl[(rl.Religion != 'Total')]
print(len(rl), len(r2))

25596 22752

In [127]:
file_opath="/Users/mthipparthi/PycharmProjects/janaganana-data/data/cleaned_data/religion_pca_cleaned.csv"

r2.to_csv(file_opath)

In [128]:
len(r2)

22752

In [129]:
r3=r2.drop_duplicates()

In [130]:
len(r3)

21632

In [131]:
r3.to_csv(file_opath)